@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.bunny {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 1fr);
    grid-template-rows: auto;
    background: linear-gradient(to right, #0D1A73, #000);
    border-radius: 20px;
  }
  
  &__poster {
    border-radius: 20px 0 0 20px;
    grid-column: span 2;
    width: calc((100vw - 100px) / 2);
    height: 100%;
    object-fit: cover;

    @include onPhone {
      width: calc(auto / 2);
    }
  }

  &__2021 {
    height: auto;
    width: auto;

    @include onPhone {
      height: 80px;
    }
  }

  &__wrapper {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;

    @include onTablet {
      font-size: 44px;
    }

    @include onPhone {
      font-size: 32px;
    }
  }
}